<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:contenxt="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
	<!-- 掃描Spring的注解 -->
	<contenxt:component-scan base-package="onlinecom.ben,shopping"></contenxt:component-scan>
	<!-- 配置新的HandlerMapping和HandlerAdapter -->
	<mvc:annotation-driven conversion-service="conversionServiceFactoryBean"></mvc:annotation-driven>
	
    	<!-- 自定義類型轉換器 -->
	<bean id="conversionServiceFactoryBean" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
   		<!-- 轉換器集合 -->
   			<property name="converters">
   				<set>
   					<ref bean="dateConverter"/>
   				</set>
   			</property>	
   	</bean>
   	<!-- 創建自定義類型轉換器 -->
   	<bean id="dateConverter" class="onlinecom.ben.converter.Dateconverter"/>
   	
   	<!-- 視圖解析器 -->
     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
     	<!--前缀路徑 -->
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<!-- 后缀路徑 -->
		<property name="suffix" value=".jsp"></property>
	</bean>
		<!-- 攔截器配置 -->
		<mvc:interceptors>
			<mvc:interceptor>
				<!--攔截路徑-->
				<mvc:mapping path="/customer/reg.action"/>
				<bean class="onlinecom.ben.intercepter.MyIntercepter"/>
			</mvc:interceptor>
		</mvc:interceptors>
      
        
        </beans>